body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
.form {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /*border-radius: 15px;
  border: 2px solid grey;*/
  margin-top:100px;
}
.form_details {
  margin: 0 auto;
}
.date,
.msg,
.mood {
  display: block;
}
.happy_mood,
.sad_mood {
  display: inline;
}
.happy_mood {
  margin-right: 4px;
}
.sad_mood {
  margin-left: 4px;
}
.date {
  padding-top: 10px;
}
.save {
  margin-right: 4px;
}
.cancel {
  margin-left: 4px;
}

input {
  margin: 10px 0 10px 0;
}
